server:
  port: 8080

spring:
  application:
    name: vocab-app

  datasource:
    url: jdbc:mysql://shinkansen.proxy.rlwy.net:36474/railway
    username: root
    password: cgwfWmZOoitduGacWrSEmlkPSMUeVcEW
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  web:
    cors:
      allowed-origins:
        - http://localhost:3000
        - http://localhost:5173
        - vocab-frontend-xi.vercel.app
      allowed-methods:
        - GET
        - POST
        - PUT
        - DELETE
        - OPTIONS
      allowed-headers: "*"
      allow-credentials: true
