server:
  port: 8080

spring:
  application:
    name: vocab-app

  datasource:
    url: jdbc:postgresql://ep-nameless-breeze-a1rzsdfn-pooler.ap-southeast-1.aws.neon.tech:5432/neondb?sslmode=require
    username: neondb_owner
    password: npg_fIo7cLnOug1s
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  web:
    cors:
      allowed-origins:
        - http://localhost:3000
        - http://localhost:5173
        - https://vocab-frontend-xi.vercel.app
        - https://vocab-frontend-delta.vercel.app
      allowed-methods:
        - GET
        - POST
        - PUT
        - DELETE
        - OPTIONS
      allowed-headers: "*"
      allow-credentials: true
