server:
  port: 8080

spring:
  application:
    name: vocab-app

  datasource:
    # Local PostgreSQL (Docker)
    url: jdbc:postgresql://localhost:5432/vocabulary
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  web:
    cors:
      allowed-origins:
        - http://localhost:3000
        - http://localhost:5173
        - https://vocab-frontend-xi.vercel.app
        - https://vocab-frontend-delta.vercel.app
      allowed-methods:
        - GET
        - POST
        - PUT
        - DELETE
        - OPTIONS
      allowed-headers: "*"
      allow-credentials: true
